name: Get PR number
on:
  workflow_call:
    outputs:
      PR_NUMBER:
        description: The extracted PR number
        value: ${{ jobs.get-pr-number.outputs.PR_NUMBER }}
jobs:
  get-pr-number:
    runs-on: ubuntu-latest
    name: Get PR number
    outputs:
      PR_NUMBER: ${{ steps.set_pr_number.outputs.PR_NUMBER }}
    steps:
    - name: Get PR number
      shell: bash
      run: "if [[ \"${{ github.event.issue.number }}\" != \"\" && \"${{ github.event.issue.pull_request\
        \ }}\" != \"\" ]]; then\n  echo \"PR_NUMBER=${{ github.event.issue.number\
        \ }}\" >> $GITHUB_ENV\nelif [[ \"${{ github.event.pull_request.number }}\"\
        \ != \"\" ]]; then\n  echo \"PR_NUMBER=${{ github.event.pull_request.number\
        \ }}\" >> $GITHUB_ENV\nelif [[ \"${{ github.event.pull_request }}\" != \"\"\
        \ ]]; then\n  echo \"PR_NUMBER=${{ github.event.number }}\" >> $GITHUB_ENV\n\
        else\n  echo \"PR_NUMBER=\" >> $GITHUB_ENV\nfi\n"
    - name: Check PR number
      shell: bash
      run: 'echo "${{ env.PR_NUMBER }}"

        '
    - name: Set PR number
      id: set_pr_number
      run: echo "PR_NUMBER=${{ env.PR_NUMBER }}" >> "$GITHUB_OUTPUT"
