name: model jobs
on:
  workflow_call:
    inputs:
      folder_slices:
        required: true
        type: string
      machine_type:
        required: true
        type: string
      slice_id:
        required: true
        type: number
      runner:
        required: true
        type: string
      docker:
        required: true
        type: string
env:
  HF_HOME: /mnt/cache
  TRANSFORMERS_IS_CI: yes
  OMP_NUM_THREADS: 8
  MKL_NUM_THREADS: 8
  RUN_SLOW: yes
  HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
  SIGOPT_API_TOKEN: ${{ secrets.SIGOPT_API_TOKEN }}
  TF_FORCE_GPU_ALLOW_GROWTH: true
  RUN_PT_TF_CROSS_TESTS: 1
  CUDA_VISIBLE_DEVICES: 0,1
jobs:
  run_models_gpu:
    name: ' '
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        folders: ${{ fromJson(inputs.folder_slices)[inputs.slice_id] }}
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.docker }}
      options: --gpus all --shm-size "16gb" --ipc host -v /mnt/cache/.cache/huggingface:/mnt/cache/
    steps:
    - name: Echo input and matrix info
      shell: bash
      run: 'echo "${{ inputs.folder_slices }}"

        echo "${{ matrix.folders }}"

        echo "${{ toJson(fromJson(inputs.folder_slices)[inputs.slice_id]) }}"

        '
    - name: Echo folder ${{ matrix.folders }}
      shell: bash
      run: 'echo "${{ matrix.folders }}"

        matrix_folders=${{ matrix.folders }}

        matrix_folders=${matrix_folders/''models/''/''models_''}

        echo "$matrix_folders"

        echo "matrix_folders=$matrix_folders" >> $GITHUB_ENV

        '
    - name: Update clone
      working-directory: /transformers
      run: git fetch && git checkout ${{ github.sha }}
    - name: Reinstall transformers in edit mode (remove the one installed during docker
        image build)
      working-directory: /transformers
      run: python3 -m pip uninstall -y transformers && python3 -m pip install -e .
    - name: Update / Install some packages (for Past CI)
      if: ${{ contains(inputs.docker, '-past-') }}
      working-directory: /transformers
      run: 'python3 -m pip install -U datasets

        '
    - name: Update / Install some packages (for Past CI)
      if: ${{ contains(inputs.docker, '-past-') && contains(inputs.docker, '-pytorch-')
        }}
      working-directory: /transformers
      run: 'python3 -m pip install --no-cache-dir git+https://github.com/huggingface/accelerate@main#egg=accelerate

        '
    - name: NVIDIA-SMI
      run: 'nvidia-smi

        '
    - name: Environment
      working-directory: /transformers
      run: 'python3 utils/print_env.py

        '
    - name: Show installed libraries and their versions
      working-directory: /transformers
      run: pip freeze
    - name: Check cache 2
      working-directory: /transformers
      run: 'ls -l /mnt/cache

        '
    - name: Check cache 3
      working-directory: /transformers
      run: 'echo $HF_HOME

        '
    - name: Check cache 4
      working-directory: /transformers
      run: 'ls -l /mnt/cache/hub

        '
    - name: Check cache 8
      working-directory: /transformers
      run: 'rm -rf /mnt/cache/hub/models--hf-internal-testing--no-config-test-repo

        '
    - name: Check cache 9
      working-directory: /transformers
      run: 'python3 -c ''import os; p = "/mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47";
        os.makedirs(p, exist_ok=True)''

        python3 -c ''p = "/mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47/config.json";
        fp = open(p, "w"); fp.close()''

        '
    - name: Check cache 8
      working-directory: /transformers
      run: 'ls -l /mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47/config.json

        rm -rf /mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist

        '
    - name: Check cache 9
      working-directory: /transformers
      run: 'python3 -c ''import os; p = "/mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47";
        os.makedirs(p, exist_ok=True)''

        python3 -c ''p = "/mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47/config.json";
        fp = open(p, "w"); fp.close()''

        '
    - name: Check cache 8
      working-directory: /transformers
      run: 'ls -l /mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47/config.json

        rm -rf /mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47

        '
    - name: Check cache 9
      working-directory: /transformers
      run: 'python3 -c ''import os; p = "/mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47";
        os.makedirs(p, exist_ok=True)''

        python3 -c ''p = "/mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47/config.json";
        fp = open(p, "w"); fp.close()''

        '
    - name: Check cache 8
      working-directory: /transformers
      run: 'ls -l /mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47/config.json

        rm -rf /mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47/config.json

        '
    - name: Check cache 9
      working-directory: /transformers
      run: 'python3 -c ''p = "/mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47/config.json";
        fp = open(p, "w"); fp.close()''

        '
    - name: Check cache 9
      working-directory: /transformers
      run: 'tail -10 /mnt/cache/hub/models--hf-internal-testing--no-config-test-repo/.no_exist/42ce72ae70f7d34c14dbc3a856379a5d5b72de47/config.json

        '
