name: PR - build doc via comment
on:
  issue_comment:
    types:
    - created
    branches-ignore:
    - main
concurrency:
  group: ${{ github.workflow }}-${{ github.event.issue.number }}-${{ startsWith(github.event.comment.body,
    'build-doc') }}
  cancel-in-progress: true
permissions: {}
jobs:
  get-pr-number:
    name: Get PR number
    if: ${{ github.event.issue.state == 'open' && contains(fromJSON('["ydshieh", "ArthurZucker",
      "zucchini-nlp", "molbap", "gante", "LysandreJik", "Cyrilvallez", "Rocketknight1",
      "SunMarc", "eustlb", "MekkCyber", "vasqu", "ivarflakstad", "stevhliu", "ebezzam",
      "itazap"]'), github.actor) && (startsWith(github.event.comment.body, 'build-doc'))
      }}
    uses: ./.github/workflows/get-pr-number.yml
  get-pr-info:
    name: Get PR commit SHA
    needs: get-pr-number
    if: ${{ needs.get-pr-number.outputs.PR_NUMBER != ''}}
    uses: ./.github/workflows/get-pr-info.yml
    with:
      pr_number: ${{ needs.get-pr-number.outputs.PR_NUMBER }}
  verity_pr_commit:
    name: Verity PR commit corresponds to a specific event by comparing timestamps
    if: ${{ needs.get-pr-number.outputs.PR_NUMBER != ''}}
    runs-on: ubuntu-latest
    needs: get-pr-info
    env:
      COMMENT_DATE: ${{ github.event.comment.created_at }}
      PR_MERGE_COMMIT_DATE: ${{ needs.get-pr-info.outputs.PR_MERGE_COMMIT_DATE }}
      PR_MERGE_COMMIT_TIMESTAMP: ${{ needs.get-pr-info.outputs.PR_MERGE_COMMIT_TIMESTAMP
        }}
    steps:
    - run: "COMMENT_TIMESTAMP=$(date -d \"${COMMENT_DATE}\" +\"%s\")\necho \"COMMENT_DATE:\
        \ $COMMENT_DATE\"\necho \"PR_MERGE_COMMIT_DATE: $PR_MERGE_COMMIT_DATE\"\n\
        echo \"COMMENT_TIMESTAMP: $COMMENT_TIMESTAMP\"\necho \"PR_MERGE_COMMIT_TIMESTAMP:\
        \ $PR_MERGE_COMMIT_TIMESTAMP\"\nif [ $COMMENT_TIMESTAMP -le $PR_MERGE_COMMIT_TIMESTAMP\
        \ ]; then\n  echo \"Last commit on the pull request is newer than the issue\
        \ comment triggering this run! Abort!\";\n  exit -1;\nfi\n"
  create_run:
    name: Create run
    needs:
    - get-pr-number
    - get-pr-info
    if: ${{ needs.get-pr-number.outputs.PR_NUMBER != '' }}
    permissions:
      statuses: write
    runs-on: ubuntu-latest
    steps:
    - name: Create Run
      id: create_run
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_RUN_URL: https://github.com/${{ github.repository }}/actions/runs/${{
          github.run_id }}
      run: "gh api \\\n  --method POST \\\n  -H \"Accept: application/vnd.github+json\"\
        \ \\\n  -H \"X-GitHub-Api-Version: 2022-11-28\" \\\n  repos/${{ github.repository\
        \ }}/statuses/${{ needs.get-pr-info.outputs.PR_HEAD_SHA }} \\\n  -f \"target_url=$GITHUB_RUN_URL\"\
        \ -f \"state=pending\" -f \"description=Custom doc building job\" -f \"context=custom-doc-build\"\
        \n"
  reply_to_comment:
    name: Reply to the comment
    if: ${{ needs.create_run.result == 'success' }}
    needs:
    - get-pr-number
    - create_run
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - name: Reply to the comment
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_RUN_URL: https://github.com/${{ github.repository }}/actions/runs/${{
          github.run_id }}
      run: "gh api \\\n  --method POST \\\n  -H \"Accept: application/vnd.github+json\"\
        \ \\\n  -H \"X-GitHub-Api-Version: 2022-11-28\" \\\n  repos/${{ github.repository\
        \ }}/issues/${{ needs.get-pr-number.outputs.PR_NUMBER }}/comments \\\n  -f\
        \ \"body=[Building docs for all languages...](${{ env.GITHUB_RUN_URL }})\"\
        \n"
  build-doc:
    name: Build doc
    needs:
    - get-pr-number
    - get-pr-info
    if: ${{ needs.get-pr-number.outputs.PR_NUMBER != '' }}
    uses: huggingface/doc-builder/.github/workflows/build_pr_documentation.yml@main
    with:
      commit_sha: ${{ needs.get-pr-info.outputs.PR_HEAD_SHA }}
      pr_number: ${{ needs.get-pr-number.outputs.PR_NUMBER }}
      package: transformers
      languages: ar de en es fr hi it ja ko pt zh
  update_run_status:
    name: Update Check Run Status
    needs:
    - get-pr-info
    - create_run
    - build-doc
    permissions:
      statuses: write
    if: ${{ always() && needs.create_run.result == 'success' }}
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_RUN_URL: https://github.com/${{ github.repository }}/actions/runs/${{
        github.run_id }}
      STATUS_OK: ${{ contains(fromJSON('["skipped", "success"]'), needs.create_run.result)
        }}
    steps:
    - name: Get `build-doc` job status
      run: "echo \"${{ needs.build-doc.result }}\"\necho $STATUS_OK\nif [ \"$STATUS_OK\"\
        \ = \"true\" ]; then\n  echo \"STATUS=success\" >> $GITHUB_ENV\nelse\n  echo\
        \ \"STATUS=failure\" >> $GITHUB_ENV\nfi\n"
    - name: Update PR commit statuses
      run: "echo \"${{ needs.build-doc.result }}\"\necho \"${{ env.STATUS }}\"\ngh\
        \ api \\\n  --method POST \\\n  -H \"Accept: application/vnd.github+json\"\
        \ \\\n  -H \"X-GitHub-Api-Version: 2022-11-28\" \\\n  repos/${{ github.repository\
        \ }}/statuses/${{ needs.get-pr-info.outputs.PR_HEAD_SHA }} \\\n  -f \"target_url=$GITHUB_RUN_URL\"\
        \ -f \"state=${{ env.STATUS }}\" -f \"description=Custom doc building job\"\
        \ -f \"context=custom-doc-build\"\n"
