name: Self-hosted runner (scheduled)
on:
  workflow_call:
    inputs:
      job:
        required: true
        type: string
      slack_report_channel:
        required: true
        type: string
      docker:
        required: true
        type: string
      ci_event:
        required: true
        type: string
      working-directory-prefix:
        default: ''
        required: false
        type: string
      report_repo_id:
        required: true
        type: string
env:
  HF_HOME: /mnt/cache
  TRANSFORMERS_IS_CI: yes
  OMP_NUM_THREADS: 8
  MKL_NUM_THREADS: 8
  RUN_SLOW: yes
  HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
  SIGOPT_API_TOKEN: ${{ secrets.SIGOPT_API_TOKEN }}
  TF_FORCE_GPU_ALLOW_GROWTH: true
  CUDA_VISIBLE_DEVICES: 0,1
  NUM_SLICES: 2
jobs:
  setup:
    if: contains(fromJSON('["run_models_gpu", "run_trainer_and_fsdp_gpu", "run_quantization_torch_gpu"]'),
      inputs.job)
    name: Setup
    strategy:
      matrix:
        machine_type:
        - aws-g5-4xlarge-cache
    runs-on: ubuntu-latest
    container:
      image: huggingface/transformers-all-latest-gpu
      options: --gpus all --shm-size "16gb" --ipc host -v /mnt/cache/.cache/huggingface:/mnt/cache/
    outputs:
      folder_slices: ${{ steps.set-matrix.outputs.folder_slices }}
      slice_ids: ${{ steps.set-matrix.outputs.slice_ids }}
      runner_map: ${{ steps.set-matrix.outputs.runner_map }}
      quantization_matrix: ${{ steps.set-matrix-quantization.outputs.quantization_matrix
        }}
    steps:
    - name: Update clone
      working-directory: /transformers
      run: 'git fetch && git checkout ${{ github.sha }}

        '
    - name: Cleanup
      working-directory: /transformers
      run: 'rm -rf tests/__pycache__

        rm -rf tests/models/__pycache__

        rm -rf reports

        '
    - name: Show installed libraries and their versions
      working-directory: /transformers
      run: pip freeze
    - id: set-matrix
      if: contains(fromJSON('["run_models_gpu", "run_trainer_and_fsdp_gpu"]'), inputs.job)
      name: Identify models to test
      working-directory: /transformers/tests
      run: "if [ \"${{ inputs.job }}\" = \"run_models_gpu\" ]; then\n  echo \"folder_slices=$(python3\
        \ ../utils/split_model_tests.py --num_splits ${{ env.NUM_SLICES }})\" >> $GITHUB_OUTPUT\n\
        \  echo \"slice_ids=$(python3 -c 'd = list(range(${{ env.NUM_SLICES }}));\
        \ print(d)')\" >> $GITHUB_OUTPUT\n  echo \"runner_map=$(python3 ../utils/get_runner_map.py)\"\
        \ >> $GITHUB_OUTPUT\nelif [ \"${{ inputs.job }}\" = \"run_trainer_and_fsdp_gpu\"\
        \ ]; then\n  echo \"folder_slices=[['trainer'], ['fsdp']]\" >> $GITHUB_OUTPUT\n\
        \  echo \"slice_ids=[0, 1]\" >> $GITHUB_OUTPUT\nfi\n"
    - id: set-matrix-quantization
      if: ${{ inputs.job == 'run_quantization_torch_gpu' }}
      name: Identify quantization method to test
      working-directory: /transformers/tests
      run: 'echo "quantization_matrix=$(python3 -c ''import os; tests = os.getcwd();
        quantization_tests = os.listdir(os.path.join(tests, "quantization")); d =
        sorted(list(filter(os.path.isdir, [f"quantization/{x}" for x in quantization_tests])))
        ;  print(d)'')" >> $GITHUB_OUTPUT

        '
    - name: NVIDIA-SMI
      run: 'nvidia-smi

        '
  run_models_gpu:
    if: ${{ inputs.job == 'run_models_gpu' }}
    name: ' '
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        machine_type:
        - single-gpu
        - multi-gpu
        slice_id: ${{ fromJSON(needs.setup.outputs.slice_ids) }}
    uses: ./.github/workflows/model_jobs.yml
    with:
      folder_slices: ${{ needs.setup.outputs.folder_slices }}
      machine_type: ${{ matrix.machine_type }}
      slice_id: ${{ matrix.slice_id }}
      runner_map: ${{ needs.setup.outputs.runner_map }}
      docker: ${{ inputs.docker }}
    secrets: inherit
  send_results:
    name: Slack Report
    needs:
    - setup
    - run_models_gpu
    if: ${{ always() }}
    uses: ./.github/workflows/slack-report.yml
    with:
      job: ${{ inputs.job }}
      setup_status: ${{ needs.setup.result }}
      slack_report_channel: ${{ inputs.slack_report_channel }}
      folder_slices: ${{ needs.setup.outputs.folder_slices }}
      quantization_matrix: ${{ needs.setup.outputs.quantization_matrix }}
      ci_event: ${{ inputs.ci_event }}
      report_repo_id: ${{ inputs.report_repo_id }}
    secrets: inherit
