name: Self-hosted runner (scheduled)
on:
  repository_dispatch: null
  schedule:
  - cron: 17 2 * * *
  push:
    branches:
    - split_daily_ci
env:
  HF_HOME: /mnt/cache
  TRANSFORMERS_IS_CI: yes
  OMP_NUM_THREADS: 8
  MKL_NUM_THREADS: 8
  RUN_SLOW: yes
  HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
  SIGOPT_API_TOKEN: ${{ secrets.SIGOPT_API_TOKEN }}
  TF_FORCE_GPU_ALLOW_GROWTH: true
  RUN_PT_TF_CROSS_TESTS: 1
  CUDA_VISIBLE_DEVICES: 0,1
jobs:
  setup:
    name: Setup
    strategy:
      matrix:
        machine_type:
        - single-gpu
    runs-on: ubuntu-latest
    container:
      image: huggingface/transformers-all-latest-gpu
      options: --gpus 0 --shm-size "16gb" --ipc host -v /mnt/cache/.cache/huggingface:/mnt/cache/
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      matrix_2: ${{ steps.set-matrix.outputs.matrix_2 }}
    steps:
    - name: Update clone
      working-directory: /transformers
      run: 'git fetch && git checkout ${{ github.sha }}

        '
    - name: Cleanup
      working-directory: /transformers
      run: 'rm -rf tests/__pycache__

        rm -rf tests/models/__pycache__

        rm -rf reports

        '
    - name: Show installed libraries and their versions
      working-directory: /transformers
      run: pip freeze
    - id: set-matrix
      name: Identify models to test
      working-directory: /transformers/tests
      run: 'echo "matrix=$(python3 -c ''import os; tests = os.getcwd(); model_tests
        = os.listdir(os.path.join(tests, "models")); d1 = sorted(list(filter(os.path.isdir,
        os.listdir(tests)))); d2 = sorted(list(filter(os.path.isdir, [f"models/{x}"
        for x in model_tests]))); d1.remove("models"); d = d2[:4] + d1[:4]; print(d)'')"
        >> $GITHUB_OUTPUT

        echo "matrix_2=$(python3 -c ''import os; tests = os.getcwd(); model_tests
        = os.listdir(os.path.join(tests, "models")); d1 = sorted(list(filter(os.path.isdir,
        os.listdir(tests)))); d2 = sorted(list(filter(os.path.isdir, [f"models/{x}"
        for x in model_tests]))); d1.remove("models"); d = [["models/align"], ["models/altclip"]];
        print(d)'')" >> $GITHUB_OUTPUT

        '
    - name: NVIDIA-SMI
      run: 'nvidia-smi

        '
  run_tests_single_gpu:
    name: ' '
    needs: setup
    strategy:
      matrix:
        slice_id:
        - 0
        - 1
    uses: ./.github/workflows/self-scheduled-model-jobs.yml
    with:
      folders: ${{ needs.setup.outputs.matrix_2 }}
      machine_type: single-gpu
      slice_id: ${{ matrix.slice_id }}
    secrets: inherit
  run_tests_multi_gpu:
    name: ' '
    needs: setup
    strategy:
      matrix:
        slice_id:
        - 0
        - 1
    uses: ./.github/workflows/self-scheduled-model-jobs.yml
    with:
      folders: ${{ needs.setup.outputs.matrix_2 }}
      machine_type: multi-gpu
      slice_id: ${{ matrix.slice_id }}
    secrets: inherit
  send_results:
    name: Send results to webhook
    runs-on: ubuntu-latest
    if: always()
    needs:
    - setup
    - run_tests_single_gpu
    steps:
    - name: Preliminary job status
      shell: bash
      run: 'echo "Setup status: ${{ needs.setup.result }}"

        '
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
    - name: Send message to Slack
      env:
        CI_SLACK_BOT_TOKEN: ${{ secrets.CI_SLACK_BOT_TOKEN }}
        CI_SLACK_CHANNEL_ID: ${{ secrets.CI_SLACK_CHANNEL_ID }}
        CI_SLACK_CHANNEL_ID_DAILY: ${{ secrets.CI_SLACK_CHANNEL_ID_DAILY }}
        CI_SLACK_CHANNEL_DUMMY_TESTS: ${{ secrets.CI_SLACK_CHANNEL_DUMMY_TESTS }}
        CI_SLACK_REPORT_CHANNEL_ID: ${{ secrets.CI_SLACK_CHANNEL_DUMMY_TESTS }}
        ACCESS_REPO_INFO_TOKEN: ${{ secrets.ACCESS_REPO_INFO_TOKEN }}
        CI_EVENT: scheduled
        CI_SHA: ${{ github.sha }}
        CI_WORKFLOW_REF: ${{ github.workflow_ref }}
        SETUP_STATUS: ${{ needs.setup.result }}
      run: 'sudo apt-get install -y curl

        pip install slack_sdk

        pip show slack_sdk

        python utils/notification_service.py "${{ needs.setup.outputs.matrix }}"

        '
    - name: Failure table artifacts
      if: ${{ always() }}
      uses: actions/upload-artifact@v3
      with:
        name: prev_ci_results
        path: prev_ci_results
