name: Self-hosted runner (scheduled)
on:
  workflow_call:
    inputs:
      job:
        required: true
        type: string
    secrets:
      CI_SLACK_BOT_TOKEN:
        required: true
      CI_SLACK_REPORT_CHANNEL_ID:
        required: true
      ACCESS_REPO_INFO_TOKEN:
        required: true
env:
  HF_HOME: /mnt/cache
  TRANSFORMERS_IS_CI: yes
  OMP_NUM_THREADS: 8
  MKL_NUM_THREADS: 8
  RUN_SLOW: yes
  HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
  SIGOPT_API_TOKEN: ${{ secrets.SIGOPT_API_TOKEN }}
  TF_FORCE_GPU_ALLOW_GROWTH: true
  RUN_PT_TF_CROSS_TESTS: 1
  CUDA_VISIBLE_DEVICES: 0,1
  NUM_SLICES: 2
jobs:
  run_tests_quantization_torch_gpu:
    if: ${{ inputs.job == 'run_tests_quantization_torch_gpu' }}
    name: Quantization tests
    strategy:
      fail-fast: false
      matrix:
        machine_type:
        - single-gpu
        - multi-gpu
    runs-on: ubuntu-latest
    container:
      image: huggingface/transformers-quantization-latest-gpu
      options: --gpus all --shm-size "16gb" --ipc host -v /mnt/cache/.cache/huggingface:/mnt/cache/
    steps:
    - name: Update clone
      working-directory: /transformers
      run: git fetch && git checkout ${{ github.sha }}
    - name: Reinstall transformers in edit mode (remove the one installed during docker
        image build)
      working-directory: /transformers
      run: python3 -m pip uninstall -y transformers && python3 -m pip install -e .
    - name: NVIDIA-SMI
      run: 'nvidia-smi

        '
    - name: Environment
      working-directory: /transformers
      run: 'python3 utils/print_env.py

        '
    - name: Show installed libraries and their versions
      working-directory: /transformers
      run: pip freeze
    - name: Run quantization tests on GPU
      working-directory: /transformers
      run: 'python3 -m pytest -v --make-reports=${{ matrix.machine_type }}_tests_quantization_torch_gpu
        tests/quantization

        '
    - name: Failure short reports
      if: ${{ failure() }}
      continue-on-error: true
      run: cat /transformers/reports/${{ matrix.machine_type }}_tests_quantization_torch_gpu/failures_short.txt
    - name: 'Test suite reports artifacts: ${{ matrix.machine_type }}_run_tests_quantization_torch_gpu'
      if: ${{ always() }}
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.machine_type }}_run_tests_quantization_torch_gpu
        path: /transformers/reports/${{ matrix.machine_type }}_tests_quantization_torch_gpu
  send_results:
    name: Slack Report
    needs: ${{ inputs.job }}
    uses: ./.github/workflows/slack-report.yml
    with:
      job: ${{ inputs.job }}
    secrets:
      CI_SLACK_BOT_TOKEN: ${{ secrets.CI_SLACK_BOT_TOKEN }}
      CI_SLACK_REPORT_CHANNEL_ID: ${{ secrets.CI_SLACK_BOT_TOKEN }}
      ACCESS_REPO_INFO_TOKEN: ${{ secrets.CI_SLACK_BOT_TOKEN }}
