name: Self-hosted runner (scheduled)
on:
  repository_dispatch: null
  schedule:
  - cron: 17 2 * * *
  push:
    branches:
    - run_split_daily_ci_based_on_no_job_name_2
env:
  HF_HOME: /mnt/cache
  TRANSFORMERS_IS_CI: yes
  OMP_NUM_THREADS: 8
  MKL_NUM_THREADS: 8
  RUN_SLOW: yes
  HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
  SIGOPT_API_TOKEN: ${{ secrets.SIGOPT_API_TOKEN }}
  TF_FORCE_GPU_ALLOW_GROWTH: true
  RUN_PT_TF_CROSS_TESTS: 1
  CUDA_VISIBLE_DEVICES: 0,1
  NUM_SLICES: 2
jobs:
  setup:
    name: Setup
    strategy:
      matrix:
        machine_type:
        - single-gpu
        - multi-gpu
    runs-on: ubuntu-latest
    container:
      image: huggingface/transformers-all-latest-gpu
      options: --gpus 0 --shm-size "16gb" --ipc host -v /mnt/cache/.cache/huggingface:/mnt/cache/
    outputs:
      folder_slices: ${{ steps.set-matrix.outputs.folder_slices }}
      slice_ids: ${{ steps.set-matrix.outputs.slice_ids }}
    steps:
    - name: Update clone
      working-directory: /transformers
      run: 'git fetch && git checkout ${{ github.sha }}

        '
    - name: Cleanup
      working-directory: /transformers
      run: 'rm -rf tests/__pycache__

        rm -rf tests/models/__pycache__

        rm -rf reports

        '
    - name: Show installed libraries and their versions
      working-directory: /transformers
      run: pip freeze
    - id: set-matrix
      name: Identify models to test
      working-directory: /transformers/tests
      run: 'echo "folder_slices=$(python3 ../utils/split_model_tests.py --num_splits
        ${{ env.NUM_SLICES }})" >> $GITHUB_OUTPUT

        echo "slice_ids=$(python3 -c ''d = list(range(${{ env.NUM_SLICES }})); print(d)'')"
        >> $GITHUB_OUTPUT

        '
    - name: NVIDIA-SMI
      run: 'nvidia-smi

        '
  run_tests_gpu:
    name: ' '
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        machine_type:
        - single-gpu
        - multi-gpu
        slice_id: ${{ fromJSON(needs.setup.outputs.slice_ids) }}
    uses: ./.github/workflows/model_jobs.yml
    with:
      folder_slices: ${{ needs.setup.outputs.folder_slices }}
      machine_type: ${{ matrix.machine_type }}
      slice_id: ${{ matrix.slice_id }}
    secrets: inherit
  send_results:
    name: Send results to webhook
    runs-on: ubuntu-latest
    if: always()
    needs:
    - setup
    - run_tests_gpu
    steps:
    - name: Preliminary job status
      shell: bash
      run: 'echo "Setup status: ${{ needs.setup.result }}"

        '
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
    - name: Send message to Slack
      env:
        CI_SLACK_BOT_TOKEN: ${{ secrets.CI_SLACK_BOT_TOKEN }}
        CI_SLACK_CHANNEL_ID: ${{ secrets.CI_SLACK_CHANNEL_ID }}
        CI_SLACK_CHANNEL_ID_DAILY: ${{ secrets.CI_SLACK_CHANNEL_ID_DAILY }}
        CI_SLACK_CHANNEL_DUMMY_TESTS: ${{ secrets.CI_SLACK_CHANNEL_DUMMY_TESTS }}
        CI_SLACK_REPORT_CHANNEL_ID: ${{ secrets.CI_SLACK_CHANNEL_DUMMY_TESTS }}
        ACCESS_REPO_INFO_TOKEN: ${{ secrets.ACCESS_REPO_INFO_TOKEN }}
        CI_EVENT: scheduled
        CI_SHA: ${{ github.sha }}
        CI_WORKFLOW_REF: ${{ github.workflow_ref }}
        SETUP_STATUS: ${{ needs.setup.result }}
      run: 'sudo apt-get install -y curl

        pip install slack_sdk

        pip show slack_sdk

        python utils/notification_service.py "${{ needs.setup.outputs.folder_slices
        }}"

        '
    - name: Failure table artifacts
      if: ${{ always() }}
      uses: actions/upload-artifact@v3
      with:
        name: prev_ci_results
        path: prev_ci_results
