name: CI slack report
on:
  workflow_dispatch: {}
env:
  TRANSFORMERS_CI_RESULTS_UPLOAD_TOKEN: ${{ secrets.TRANSFORMERS_CI_RESULTS_UPLOAD_TOKEN
    }}
jobs:
  send_results:
    name: Send results to webhook
    runs-on: ubuntu-22.04
    if: always() && !cancelled()
    steps:
    - name: Preliminary job status
      shell: bash
      env:
        setup_status: ${{ inputs.setup_status }}
      run: 'echo "Setup status: $setup_status"

        '
    - uses: actions/checkout@v4
      with:
        fetch-depth: 2
        ref: ${{ (github.event_name == 'issue_comment' || github.event_name == 'pull_request_target')
          && 'main' || (inputs.commit_sha || github.sha) }}
    - uses: actions/download-artifact@v4
    - name: Prepare some setup values
      run: "if [ -f setup_values/prev_workflow_run_id.txt ]; then\n  echo \"PREV_WORKFLOW_RUN_ID=$(cat\
        \ setup_values/prev_workflow_run_id.txt)\" >> $GITHUB_ENV\nelse\n  echo \"\
        PREV_WORKFLOW_RUN_ID=\" >> $GITHUB_ENV\nfi\n\nif [ -f setup_values/other_workflow_run_id.txt\
        \ ]; then\n  echo \"OTHER_WORKFLOW_RUN_ID=$(cat setup_values/other_workflow_run_id.txt)\"\
        \ >> $GITHUB_ENV\nelse\n  echo \"OTHER_WORKFLOW_RUN_ID=\" >> $GITHUB_ENV\n\
        fi\n"
    - name: Send message to Slack
      shell: bash
      env:
        CI_SLACK_BOT_TOKEN: ${{ secrets.CI_SLACK_BOT_TOKEN }}
        CI_SLACK_CHANNEL_ID: ${{ secrets.CI_SLACK_CHANNEL_ID }}
        CI_SLACK_CHANNEL_ID_DAILY: ${{ secrets.CI_SLACK_CHANNEL_ID_DAILY }}
        CI_SLACK_CHANNEL_DUMMY_TESTS: ${{ secrets.CI_SLACK_CHANNEL_DUMMY_TESTS }}
        SLACK_REPORT_CHANNEL: ${{ inputs.slack_report_channel }}
        ACCESS_REPO_INFO_TOKEN: ${{ secrets.ACCESS_REPO_INFO_TOKEN }}
        CI_EVENT: ${{ inputs.ci_event }}
        CI_TITLE: ${{ github.event.head_commit.message }}
        CI_SHA: ${{ inputs.commit_sha || github.sha }}
        CI_TEST_JOB: ${{ inputs.job }}
        SETUP_STATUS: ${{ inputs.setup_status }}
        REPORT_REPO_ID: ${{ inputs.report_repo_id }}
        quantization_matrix: ${{ inputs.quantization_matrix }}
        folder_slices: ${{ inputs.folder_slices }}
      run: "pip install huggingface_hub\npip install slack_sdk\npip show slack_sdk\n\
        pip install .\nif [ \"$quantization_matrix\" != \"\" ]; then\n  python utils/notification_service.py\
        \ \"$quantization_matrix\"\nelse\n  python utils/notification_service.py \"\
        $folder_slices\"\nfi\n"
    - name: Failure table artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ci_results_${{ inputs.job }}
        path: ci_results_${{ inputs.job }}
