name: CI slack report
on:
  workflow_call:
    inputs:
      job:
        required: true
        type: string
    secrets:
      CI_SLACK_BOT_TOKEN:
        required: true
      CI_SLACK_REPORT_CHANNEL_ID:
        required: true
      ACCESS_REPO_INFO_TOKEN:
        required: true
jobs:
  send_results:
    name: Send results to webhook
    runs-on: ubuntu-latest
    if: always()
    steps:
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
    - name: Send message to Slack
      env:
        CI_SLACK_BOT_TOKEN: ${{ secrets.CI_SLACK_BOT_TOKEN }}
        CI_SLACK_REPORT_CHANNEL_ID: ${{ secrets.CI_SLACK_REPORT_CHANNEL_ID }}
        ACCESS_REPO_INFO_TOKEN: ${{ secrets.ACCESS_REPO_INFO_TOKEN }}
        CI_EVENT: scheduled
        CI_SHA: ${{ github.sha }}
        CI_WORKFLOW_REF: ${{ github.workflow_ref }}
      run: 'sudo apt-get install -y curl

        '
