name: SSH into our runners
on:
  workflow_dispatch:
    inputs:
      runner_type:
        description: Type of runner to test (a10 or t4)
        required: true
      docker_image:
        description: Name of the Docker image
        required: true
      num_gpus:
        description: Type of the number of gpus to use (`single` or `multi`)
        required: true
env:
  HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
  HF_HOME: /mnt/cache
  TRANSFORMERS_IS_CI: yes
  OMP_NUM_THREADS: 8
  MKL_NUM_THREADS: 8
  RUN_SLOW: yes
  SIGOPT_API_TOKEN: ${{ secrets.SIGOPT_API_TOKEN }}
  TF_FORCE_GPU_ALLOW_GROWTH: true
  CUDA_VISIBLE_DEVICES: 0,1
  RUN_PT_TF_CROSS_TESTS: 1
jobs:
  ssh_runner:
    name: SSH
    runs-on: ubuntu-latest
    container:
      image: ${{ github.event.inputs.docker_image }}
      options: --gpus all --privileged --ipc host -v /mnt/cache/.cache/huggingface:/mnt/cache/
    steps:
    - name: Update clone
      working-directory: /transformers
      run: 'git fetch && git checkout ${{ github.sha }}

        '
    - name: Cleanup
      working-directory: /transformers
      run: 'rm -rf tests/__pycache__

        rm -rf tests/models/__pycache__

        rm -rf reports

        '
    - name: Show installed libraries and their versions
      working-directory: /transformers
      run: pip freeze
    - name: NVIDIA-SMI
      run: 'nvidia-smi

        '
    - name: Store Slack infos
      shell: bash
      run: 'echo "${{ github.actor }}"

        github_actor=${{ github.actor }}

        github_actor=${github_actor/''-''/''_''}

        echo "$github_actor"

        echo "github_actor=$github_actor" >> $GITHUB_ENV

        '
    - name: Store Slack infos
      shell: bash
      run: "echo \"${{ env.github_actor }}\"\nif [ \"${{ secrets[format('{0}_{1}',\
        \ env.github_actor, 'SLACK_ID')] }}\" != \"\" ]; then\n  echo \"SLACKCHANNEL=${{\
        \ secrets[format('{0}_{1}', env.github_actor, 'SLACK_ID')] }}\" >> $GITHUB_ENV\n\
        else\n  echo \"SLACKCHANNEL=${{ secrets.SLACK_CIFEEDBACK_CHANNEL }}\" >> $GITHUB_ENV\n\
        fi\n"
    - name: Tailscale
      uses: huggingface/tailscale-action@main
      with:
        authkey: ${{ secrets.TAILSCALE_SSH_AUTHKEY }}
        slackChannel: ${{ env.SLACKCHANNEL }}
        slackToken: ${{ secrets.SLACK_CIFEEDBACK_BOT_TOKEN }}
        waitForSSH: true
        sshTimeout: 15m
